/* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; */
* {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

:root {
    --accent-color: #F7654A;
    --dark-color: #404149;
    --grey-color: #999999;
    --white-color: #FFFFFF;
    --bacground-color: #E5E5E5;
}

.text-h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
}

.text-h3 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.text-h4 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    letter-spacing: 0.02em;
}

.text-p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.text-p-revews {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.header {
    min-height: 740px;
    background-image: url(../img/first-screen-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.heder__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
    margin-bottom: 112px;
}

.logo {
    width: 60px;
    height: 60px;
}

.burger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    background-color: var(--accent-color);
    bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burger__line {
    display: block;
    width: 21px;
    height: 3px;
    background-color: white;
    margin-bottom: 4px;
}

.burger__line:last-child {
    margin-bottom: 0px;
}

.main__title {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--white-color);
    max-width: 734px;
    margin: 0 auto 17px;
}

.main__desc {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    margin: 0 auto;
}

.about {
    min-height: 1080px;
    position: relative;
    padding-top: 250px;
}

.info {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1110px;
    min-height: 300px;
    width: 100%;
    background-color: #F7F7F7;
    padding: 57px 130px;

}

.about__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center
}

.about__grid-item {
    text-align: center;
    width: 190px;
}

.about__h4 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 5px;
}

.about__h5 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;

}

.about__p {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}

@media screen and (max-width:1280px) {
    .about__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width:768px) {
    .info {
        position: relative;
    }

    .about__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

.project-h2 {
    text-align: center;
    margin-bottom: 50px;
}

.about__grid-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center
}

.projecr-img {
    margin-bottom: 45px;
}

.rectangle {
    width: 55px;
    height: 6px;
    background: var(--accent-color);
    margin-bottom: 15px;
}

.project-h3 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 12px;
    color: var(--dark-color);
}

.project-p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--grey-color);
}

@media screen and (max-width:1280px) {
    .about {
        padding: 450px 15px 150px 15px;
    }

    .about__grid-2 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:768px) {
    .about__grid-2 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

}

.request {
    background-color: var(--accent-color);
    padding-top: 30px;
    padding-bottom: 41px;
}

.request__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.request__flex-left {}

.request__h4 {
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-bottom: 5px;
}

.request__h5 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: var(--white-color);
    text-transform: uppercase;

}

.request__flex-right {}

.request__btn {
    margin-top: 25px;
    border: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-family: 'Oswald';
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    padding: 14px 30px;
}

.request__icon {
    margin-right: 15px;
}

@media screen and (max-width:1280px) {
    .request {
        padding-left: 15px;
        padding-right: 15px;
    }

}

@media screen and (max-width:768px) {
    .request__flex {
        flex-wrap: wrap;
    }
}

.servieces {
    padding: 150px 0;
}

.section__h2,
.services__h4 {
    color: black;
}

.section__h2 {
    text-align: center;
    margin-bottom: 50px;

}

.services__h4 {
    margin: 0 auto;
    margin-bottom: 0px;
    text-align: center;
    max-width: 172px;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.02em;

}

.services__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
}

.services__grid-item {
    padding: 59px 0;
    background-color: #f7f7f7;
    width: 350px;
}

.services__icon {
    margin: 0 auto 25px;
}
@media screen and (max-width:1280px) {
    .servieces{
        padding-left: 15px;
        padding-right: 15px;
    }
    .services__grid{
        grid-template-columns: repeat(2, 3fr);
        grid-template-rows: repeat(3, 2fr);
    }
    .services__grid-item{
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .services__grid{
        grid-template-columns: repeat(1, 1fr);

    }

}